/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

/* buttons */
.consultation-button {
    @extend .red-button;
}

/* ------- Single Trainer ------- */
body.single-trainer {

    .entry-title {
        font-size: 5.5em;
        margin: 0;
        position: absolute;
        z-index: 3;
        bottom: 0;
        line-height: 0.85;
        text-transform: uppercase; 
        text-align: center; 
    }

    .site-content {
        max-width: $base__width-mobile;
        width: 100%;
        margin: 0 auto;

        p.trainer-sub-titles {
            font-family: $font__h1-header;
        }
    }

    .default-header {
        display: flex;
        position: relative;
        max-height: 50vh;
        height: 50vh;
        margin: 0;
        justify-content: center;
        border-bottom: $header__title-border-bottom;
        overflow: hidden;

        .trainer-profile-wrapper {
            position: relative;

            &:after {
                content: "";
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                background: rgba(0,0,0,0.45);
                height: 100vh;
                width: 100vw;
                position: absolute;
                z-index: 2;
            }

            .trainer-profile-picture {
                background: url("../../asset/profiles/super_male.png") no-repeat bottom;
                background-size: cover;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                z-index: 0;
                max-width: none;
                z-index: 0; 
                height: 100%;
                filter: grayscale(100%);
            }
        }
    }

    .default-content {
        width: 100%;

        .trainer-description, 
        .trainer-personalities,
        .trainer-availability,
        .other-trainers {
            padding: 1.5em;
        }

        p {

            &.trainer-sub-titles {
                font-size: $font__body-size;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        .trainer-description,
        .other-trainers {
            color: white;
            background: black;
        }

        .trainer-description {
            p {
                margin: 0;
            }
        }
        .trainer-personalities {
            @extend .trainer-description;
            padding-top: 0;

            p.trainer-sub-titles {
                margin-bottom: 0.75em;
                margin-top: 0;
            }

            ul {
                display: flex;
                flex-flow: row wrap;

                li {
                    text-transform: uppercase;
                    font-family: $font__main;
                    font-weight: 300;
                    font-size: 20px;
                    margin-right: 0.5em;
                    line-height: 0.75em;
                }
            }
        }

        .trainer-availability {
            background: white;
            text-align: center;
            padding-top: 5px;

            p {
                margin-bottom: 0.5em;
            }
        }
        
        .trainer-consultation {

            a.consultation-button {
                font-size: 20px;
                font-weight: 500;
                font-family: $font__h1-header;
                margin-top: 2em;
                padding: 0 1em;
            }
        }

        .trainer-meta {
            max-height: 50vh;
            width: 100%;
        }

        .other-trainers {

            .next-trainer.trainer-sub-titles {
                margin: 0;
                text-align: center;
                margin-bottom: 0.5em;
            }

            &-grid {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                justify-content: space-between;
                
                .next-trainer-item-container {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;

                    .trainer-thumbnail-wrapper {
                        width: 53px;
                        height: 53px;
                        background: #C6CDDF;
                        border-radius: 25px;
                        border: 1.5px solid #A10000;
                        overflow: hidden;
                        position: relative;

                        .trainer-thumbnail {
                            max-width: none;
                            max-height: 100%;
                            top: 50%;
                            left: 50%;
                            position: absolute;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .next-trainer-wrapper {
                        a {
                            text-decoration: none;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .other-links {
            display: flex;
            flex-flow: column nowrap;
            text-align: center;

            a {
                color: black;
                text-transform: uppercase;
                font-weight: 500;
                font-family: $font__h1-header;
                font-size: 24px;
            }
            
            .about-our-origin,
            .about-our-community {
                border-bottom: 1.5px solid #A10000;
            }
            .about-our-origin,
            .about-our-community,
            .about-our-place {
                padding: 0.5em 0;
                cursor: pointer;
            }
        }
    }
}

// Sidebar-2

.about-sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .widget-title {
        color: white;
        height: 30px;
        font-family: Oswald;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    p {
        color: white;
        margin: .50%;
    }

    p .contact { // to match H2
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        font-family: Oswald;
        clear: both;
        text-transform: uppercase;
    
    }

    .kin-athletics-info-class {
        order:  2;
        flex: 0 0 50%;
        width: 50%;
        position: relative;

        .widget-title {
        }
      }

    .widget-block {
        margin-bottom: 1rem;
      }

    .kin-athletics-hours-class {
        order:  1;
        flex: 0 0 50%;
        width: 50%;
        position: relative;
        padding-left: 1.3rem;
      }
}

