body.post-type-archive-trainer {
    .entry-content{
      margin: 0;
    }
  }

  .carousel-cell.trainers {
    display: flex;
    flex-flow: column wrap;
  }
    
  .trainer-item-container {
    height: 100px;

    img {
      height: 100px;
      width: 100px;
    }
  }


  .services-icons{
    height: 100vh;
    background: url('../../asset/images/pushup.jpg') no-repeat center;
    background-size: cover;

    .header-container {
      display: flex;
      height: 25%;

      h1 {
        margin: auto;
        text-align: center;
      }
    }
    
    #origin-icon {
      margin-right: 50px;
    }
    
    
    .circles-container {
      height: 75%;

      .circles {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
  
        svg {
          width: 50%;
          height: $icon__base-size;
        }
      }

    }
  }
  
  .services-featured {
    display: block;
    height: 100vh;
    background-image: url('../../asset/images/lion2.jpg');
    background-size: cover;
    color: white;
    position: relative;
  
    h4{
      margin: 0;
      position: relative;
      text-align: left;
      font-size: 60px;
      text-transform: uppercase;
      padding: 30px 30px 20px 20px;
      line-height: 73px;
    }
  
    span{
      font-size: 70px;
      font-weight: lighter;
    }
  
    p{
      text-align: right;
      padding-right: 20px;
      margin: 15px 0;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .red-button, .social-button{
      margin: 0;
      margin-left: 25%;
      width: 70%;
      height: 50px;
  
      a{
        display: block;
        text-align: center;
        color: white;
        padding-top: 3%;
      }
    }
  
    .social-button{
      margin-top: 15px;
    }

    .white {
      position: absolute;
      background-color: white;
      color: black;
      height: 35%;
      width: 100%;
      bottom: 0;
      font-size: 24px;
  
      p{
        text-align: center;
        padding: 0;
        margin-top: 30px;
      }
  
      .red-button, .social-button{
        text-align: center;
        width: 50%;
        border-width: 3px;
  
        a{
          color: black;
          font-size: 30px;
        }
      }
    }
  }