/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.sticky {
	display: block;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Reusables */

.display-block {
	display: block;
}

.black-overlay {
	&:after {
		height: 100%;
		width: 100%;
		content: " ";
		background: rgba(0,0,0,0.5);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}