// label > input{ /* HIDE RADIO */
//   visibility: hidden; /* Makes input not-clickable */
//   position: absolute; /* Remove input from document flow */
// }

.page-template-consultations{
  background-image: url('../../asset/images/pushup.jpg');

  .entry-content{
    margin: 0;
    height: 100vh;
  }

  .gf_page_steps{
    text-align: center;
  }

  .gform_wrapper .gf_step{
    background-color: transparent;
    border: 3px black solid;
    display: inline-block;
    margin: 0 12px;
    width: 50px;
    height: 25px;
    color: black;
    position: relative;
    opacity: 1;

    .gf_step_number{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .gf_step_label{
      display: none;
    }
  }
}

.gform_wrapper .gf_step.gf_step_active{
  background-color: black;
  color: white;
}

.consultation-forms{
  background-color: pink;

  .gform_heading{
    display: none;
  }
}

//   end of form pagination

#input_1_1_3, #input_1_2{
  border-radius: 0px;
  border: 2px solid $color__brand-red;
}

#gform_page_1_1{
  .top_label .gfield_label{
    display: none;
  }
}

#input_1_1_3_container label{
  display: none;
}

.gform_wrapper .gform_next_button{
  top: 165px;
  right: 0;
  position: absolute;
  color: $color__brand-red;
  font-size: 20px;
  text-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: none;
  border: none;
  &:hover{
    outline: none;
  }
}

#gform_next_button_1_8{
  top: 165px;
  right: 0;
  width: auto;
  font-size: 20px;
  box-shadow: none;  
}

//    end of name form

.consultation_email_form{
  background-color: yellow;
}

#field_1_2 .gfield_label{
  display: none;
}


//    end of email form

#gform_previous_button_1_10, #gform_previous_button_1_13, 
#gform_previous_button_1_12, #gform_previous_button_1{
  display: none;
}

#gform_next_button_1_10{
  top: 165px;
  right: 0;
  width: auto;
  font-size: 20px;
  box-shadow: none; 
}

#input_1_5{
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
  max-height: 400px;

  input[type=radio]{
    display: none;
  }

  li{
    width: 50%;
    margin-top: 20px;

    label{

      h1{
        margin: 0;
        font-size: 20px;
      }
    }
  }

  img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}


//       end of trainer grid selection










// .consultation_action_form{
//   background-color: blue;
// }

#input_1_14 li{
  input[type=radio]{
    display: none;
  }

  input[type=radio]:checked + label {
    background-color: $color__brand-red;
  } 

  label{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid $color__brand-red;
    height: 50px;
  }
}



#label_1_14_0, #label_1_14_1{
  width: 50%;
}











.consultation_comment_form{
  background-color: blue;
}


.test-paging{
  background-color: black;
}

#gform_confirmation_message_1 font a{
  color: black;
}