// label > input{ /* HIDE RADIO */
//   visibility: hidden; /* Makes input not-clickable */
//   position: absolute; /* Remove input from document flow */
// }

.page-template-consultations{
  background-image: url('../../asset/images/freeconsultation_bg.png');
  background-position: right;
  background-size: cover;

  .entry-content{
    margin: 0;
    height: auto;
  }

  .gf_page_steps{
    text-align: center;
  }

  .gform_wrapper .gf_step{
    background-color: transparent;
    border: 3px black solid;
    display: inline-block;
    margin: 0 12px;
    width: 50px;
    height: 25px;
    color: black;
    position: relative;
    opacity: 1;
    margin-top: 70px;

    .gf_step_number{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .gf_step_label{
      display: none;
    }
  }

  .gform_wrapper .gform_page_footer,
  .gform_wrapper .gf_page_steps{
    border: none;
  }

  .gform_body{
    padding: 0 20px;

    @include Desktop {
      padding: 0 30%;
    }
  }
}

#gf_page_steps_1 #gf_step_1_6{
  display: none;
}

.gform_wrapper .gform_page_footer{
  border-top: none;
}

.gform_wrapper .gf_step.gf_step_active{
  background-color: black;
  color: white;
}

.consultation-forms{
  .gform_heading{
    display: none;
  }
}

#gform_fields_1, #gform_fields_1_2, 
#gform_fields_1_3, #gform_fields_1_4,
#gform_fields_1_5{
  li{
    margin-bottom: 40px;   // chatbox spacing
  }
}

//   end of form pagination

#gform_page_1_1 .gform_page_footer, #gform_page_1_2 .gform_page_footer, #gform_page_1_3 .gform_page_footer, 
#gform_page_1_4 .gform_page_footer, #gform_page_1_5 .gform_page_footer, #gform_page_1_6 .gform_page_footer{
  position: relative;
}


#input_1_1_3, #input_1_2{
  border-radius: 0px;
  border: 2px solid $color__brand-red;
}

#field_1_1, #field_1_2
,#field_1_14, #field_1_11 {
	position: relative;
	background: white;
  padding: 30px;
}

#field_1_1{
  @include Desktop{
    display: flex;
    align-items: center;

    label{
      width: 100px;
    }

    #input_1_1_3_container{
      padding: 0;
    }
  }
}

#field_1_1:after, #field_1_2:after, #field_1_5:after, #field_1_14:after, #field_1_11:after {
	content: '';
	position: absolute;
  bottom: 0;
  right: 5%;
	width: 0;
	height: 0;
	border: 29px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-bottom: -29px;
}

#input_1_1_3_container label{
  display: none;  // the label below name form
}

.gform_wrapper .gform_next_button,
#gform_submit_button_1, #gform_next_button_1_23, #edit-name{
  position: absolute;
  color: $color__brand-red;
  text-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: none;
  border: none;
  &:hover{
    outline: none;
  }
}

#gform_next_button_1_8, #edit-name{   // next button for name form
  bottom: 74px;
  right: 28px;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
}

#gform_page_1_1{
  @include Desktop{
    position: relative;

    #gform_next_button_1_8, #edit-name{ 
      top: auto;
      bottom: 88px;
      right: 20px;
    }
  }
}

.nameform-box1, .nameform-box2,
.emailform-box1, .trainerform-box1,
.actionform-box1, .commentform-box1 {
	position: relative;
  background: black;
  color: white;
  padding: 20px;
  width: fit-content;
}

.nameform-box1:after, .nameform-box2:after,
.emailform-box1:after, .trainerform-box1:after,
.actionform-box1:after, .commentform-box1:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: black;
	border-bottom: 0;
	border-left: 0;
	margin-left: -39px;
	margin-bottom: -20px;
}



//    end of name form


//     see line 63 for chatbox
//     see line 112 for black chatbox

#gform_next_button_1_10, #edit-email{   // next button for email form
  bottom: 66px;
  right: 30px;
  width: auto;
  font-size: 20px;
  box-shadow: none; 
}

#input_1_2{
  @include Desktop{
    width: 100%;
  }
}

#gform_page_1_2{
  @include Desktop{
    position: relative;
  }
}

#gform_next_button_1_10, #edit-email{
  @include Desktop{
    bottom: 88px;
    right: 20px;
  }
}


//    end of email form

//   see line 63 for chat box
//   see line 112 for black chatbox


#gform_previous_button_1_10, #gform_previous_button_1_13, 
#gform_previous_button_1_12, #gform_previous_button_1,
#gform_previous_button_1_23{
  display: none;    // previous button
}

#field_1_5{
  .gfield_description{
    display: none;   // removing trainer description
  }
}

#field_1_5{
  background-color: white;
  position: relative;  
  padding: 10px 30px 50px 30px;
}

#input_1_5{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
  max-height: 370px;

  input[type=radio]:checked + label {
    h1{
      color: $color__brand-red;    
    }

    img{
      border-color: $color__brand-red;
      border-width: 3px;
    }
  } 

  input[type=radio]{
    display: none;    // hiding the radio circle button
  }

  li{
    width: 50%;
    margin-bottom: 20px;

    label{
      h1{
        margin: 0;
        color: black;
        font-size: 20px;
      }
    }
  }

  img{
    border: 2px gray solid;
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}

#gform_next_button_1_13.gform_next_button.button,
#gform_next_button_1_12.gform_next_button.button, #edit-trainer, #edit-action{
  background-color: $color__brand-red;
  border-radius: 0;
  color: white;
  width: auto;
  outline: none;
  box-shadow: none;
}

#gform_next_button_1_13, #edit-trainer{                   //  next button for trainer grid
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  bottom: 20px;
}

#gform_page_1_3{
  @include Desktop{
    position: relative;    
  }

  #gform_next_button_1_13, #edit-trainer{
    @include  Desktop{
      bottom: 50px;
    }
  }
}

//       end of trainer grid selection


// see line 63 for chatbox
// see line 112 for black chatbox

#input_1_14{
  padding-bottom: 20px;

  li{
    margin-bottom: 10px;

    input[type=radio]{
      display: none;   // hiding the circle radio buttons
    }

    input[type=radio]:checked + label {
      background-color: $color__brand-red;
    } 

    label{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      border: 2px solid $color__brand-red;
      height: 50px;
    }
  }
}

#label_1_14_0, #label_1_14_1{
  width: 60%;
}

#gform_next_button_1_12, #edit-action{          // next button for actions
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, -50%);
}

#gform_page_1_4{
  @include Desktop{
    position: relative;
  }

  #gform_next_button_1_12, #edit-action{
    @include Desktop{
     bottom: 60px;
    }
  }
}

// end of actions form


// see line 63 for chatbox
// see line 112 for black chatbox

#field_1_11 .gfield_label{
  display: none;   // remove top text area label
}

#input_1_11{
  border-color: $color__brand-red;
}

#gform_fields_1_5 #field_1_11{
  padding-bottom: 40px;
}

#gform_next_button_1_23, #edit-comment{   // next button for comment form
  bottom: 85px;
  right: 40px;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;

  @include Desktop{
    right: 25px;
    bottom: 110px;
  }
}

#gform_page_1_5{
  @include Desktop{
    position: relative;
  }
}

// end of comment box


#gform_confirmation_wrapper_1{                  // CONFIRMATION   PAGE
  margin-top: 60px;
}

#field_1_22{
  padding: 20px 20px 0 20px;

  .ready-submit{            // instructions below submit button
    padding: 0;
    background-color: transparent;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .form-container{
    background-color: black;  
    margin: 15px 0;    

    p{
      display: inline-block;
      color: white;
      padding: 30px;
      width: 85%;
      word-wrap: normal;
      word-break:break-all;
    }

    span{                    // inputed value
      color: $color__brand-red;
    }
  
    div{                     // edit buttons
      display: inline;
      color: $color__brand-red;
    }
  }

  br{
    display: none;
  }
}


#gform_submit_button_1{          // submit button
  right: 50%;
  left: 50%;
  bottom: 730px;
  font-size: 30px;
  background-color: $color__brand-red;
  color: white;
  max-width: 120px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  transform: translate(-50%, -50%);

  @include Desktop{
    bottom: 715px;
  }
}

#edit-name, #edit-email, #edit-trainer, #edit-action, #edit-comment{
  display: none;
}

.unhide-edit{
  display: block!important;
  z-index: 9999;
}

#gform_page_1_1 #edit-name{
  bottom: 262px;
  right: 44px;
  @include Desktop{
    bottom: 85px;
    right: 28px;
  }
}

#gform_page_1_2 #edit-email{
  bottom: 402px;
  right: 44px;
  @include Desktop{
    bottom: 84px;
    right: 29px;
  }
}

#gform_page_1_3 #edit-trainer{
  bottom: 25px;

  @include Desktop{
    bottom: 50px;
  }
}

#gform_page_1_4 #edit-action{
  bottom: 195px;

  @include Desktop{
    bottom: 50px;
  }
}

#gform_page_1_5 #edit-comment{
  bottom: 350px;
  right: 50px;
  @include Desktop{
    bottom: 110px;
    right: 40px;
  }
}

#gform_page_1_6 #colophon{
  position: absolute;
  bottom: 0;
}

.page-template-consultations .site-content #gform_page_1_1{
  @include Desktop{
    margin-bottom: 44px;
  }
}

.page-template-consultations .site-content #gform_page_1_2{
  margin-bottom: 59px;

  @include Desktop{
    margin-bottom: 127px;
  }
}

.page-template-consultations .site-content #gform_page_1_2{
  @include Desktop{
    margin-bottom: 127px;
  }
}

#gform_page_1_2 #colophon{
  position: absolute;
  bottom: 0;
}