.page-template-events{
  .entry-content{
    margin: 0;
    
    .header-container {
      display: flex;
  
      h1 {
        margin: auto;
        text-align: center;
      }
    }



  .flickity-prev-next-button{
    display: none;
  }

  .flickity-page-dots {
    bottom: 10px;
  }

  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }

  .flickity-page-dots .dot.is-selected {
    background: white;
  }
}

.services-icons {
  height: 100vh;
  background-image: url('../../asset/images/eventspage_heroshot.png');
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  }
  
  #origin-icon {
    margin-right: 50px;
  }
  
  .circles-container {
    height: 75%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    .icon-container {
      width: 50%;
      height: $icon__base-size;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      a, img {
        height: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }

      p {
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font__h1-header;
      }
    }
  }


.relative-carousel-container{
  position: relative;

  .events-carousel-info{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;

    h1 {
      font-size: 40px;
      padding-left: 2.5rem;
    }

    p {
      width: 100%;
      color: white;
      background: rgba(0, 0, 0, 0.7);
      line-height: 27px;
      font-size: 20px;
      padding: 10px 40px;

    }

    .event-date{
      padding-left: 40px;
    }

    h3 { 
      display: inline;
      color: white;
      font-size: 18px;
      display: flex;

      p {
        background: none;
        height: auto;
        padding: 0;
        margin: 0 0 0 0.5em;
      }
    }

    .red-button{
      margin: 20px 0 0 40px;
      height: 40px;
      position: relative;
      width: 200px;
      padding-left: 0;

      a {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.events-cell-image1{
  background-image: url('../../asset/images/eventspage_projecttd.png');
}

.events-cell-image2{
  background-image: url('../../asset/images/eventspage_projecttd2.png');
}

.events-cell-image3{
  background-image: url('../../asset/images/eventspage_projecttd3.png');
}

.events-black-container, .events-white-container{
  text-align: center;
  padding: 20px 0;

  p {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.events-black-container{
  background-color: black;
  color: white;

  p {
    text-transform: uppercase;
  }

  .red-button{
    margin: 0 auto;
    position: relative;

    a{
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
  }
}


.events-white-container{
  border-top: 2px black solid;

  p {
    text-transform: uppercase;
  }

  .social-button{
    width: 60%;

    a{
      font-size: 30px;
    }
  }
}
}