.page-template-find-us p {
  margin: .50%;
}

.page-template-find-us {

  .entry-header {
    position: relative;

  }
  h1.entry-title {
    position:absolute;
    z-index:1;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3.7rem;
    bottom: 5%;

    @include desktop {
      font-size: 7rem;
    }
    
  }
p .contact { // to match H2
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  font-family: Oswald;
  clear: both;
  text-transform: uppercase;
}
  .find-us-picture-wrapper {
    position: relative;

    .find-us-picture {
      z-index: 0; 
      filter: grayscale(100%);
      height: 45vh;
  }
}

@include desktop {
  .page-template-find-us h1.entry-title {
    font-size: 4rem;
  }
}

.page-template-find-us h2.widget-title {
    height: 30px;
    width: 73px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

}

@include desktop {
.page-template-find-us h2 {
    font-size: 2rem;
  }
}


.kin-athletics-info {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;

  @include desktop {
    flex-wrap: nowrap;
    
    iframe {
      min-height: 400px;
    }
  }
}

.page-template-find-us iframe {
  order: 1;
  border-left: 0;
  border-right: 0;
  flex: 2 0 100%;
  max-width: 100%;
  position: relative;

  @include desktop {
    height: 400px;
  }

}

.widget-area {
  display: flex;
  width: 100%;

  @include desktop {
    padding-top: 60px;
  }
}


.kin-athletics-info-class {
  order:  2;
  flex: 0 0 50%;
  width: 50%;
  position: relative;
  text-align: right;
  padding-right: 2.5%;
}

.widget-block {
  margin-bottom: 1.3rem;
  
  p, span {
    color: #000;
  }
}

.kin-athletics-hours-class {
  order:  3;
  flex: 0 0 50%;
  width: 50%;
  position: relative;
  text-align: left;
  padding-left: 2.5%;
}

.black.container {
  background: $color__brand-black;
  display: block;
  height: 8.01%;
  padding: 5px 0 30px 0;
}

.red-button {
  margin: 0 auto;
  border: none;
  height: 2.67%;
  width: 70%;

  @include desktop {
    max-width: 25%;
    height: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    }

    a {
      @include desktop {
        font-size: 2rem;
        vertical-align: center;
      }
    }
  }

  
}

@include desktop {
  h3.find-us.white-title {
    font-size: 4.5rem;
    }

  h3.find-us.black-title {
    font-size: 1.7rem;
    padding-top: 20px;
    padding-bottom: 20px;
    }
}

