.main-carousel{
  height: 90vh;
}

.carousel-cell {
  display: block; 
  height: 100vh; 
  width: 100%;  
 }

// .main-carousel{
//   margin: 20px 0 60px 0; 
//   height: 100%;
// }

// .flickity-enabled:focus .flickity-viewport {
//  outline: thin dotted;
// }

// .flickity-prev-next-button {
//  display: none;
// } 