.main-carousel{
  height: 100vh;
  color: white;  
  overflow: hidden;
  margin-bottom: 3px;
}

.flickity-prev-next-button {
  top: 75%;
  width: 100px;
  height: 100px;
  background-color: $color__brand-red;
  box-shadow: none;  

  &:disabled{
    opacity: 1;
  }

  &:hover{
    background-color: $color__hover-buttons;
    box-shadow: none;
  }

  svg{
    transform: translate(-60%, -50%);
    top: 50%;
    padding: 20px 20px;  
  }

  .arrow{
    fill: white;
  }
}

.flickity-prev-next-button.next{
  right: -70px;
}

.flickity-prev-next-button.previous{
  left: -70px;

  svg{
    margin-left: 70px;
  }
}

.carousel-cell {
  display: block; 
  height: 100vh; 
  width: 100%;
  background-size: cover;
  text-transform: uppercase;  

  h2{
    width: 49.69%;
    font-weight: bold;
    line-height: 65px;
    margin: 60px 0 20px 0;
    font-size: 45px;
  }

  h3 {
    margin-left: 1.5rem;
  }

  .carousel-cell-info{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: auto;
    line-height: 27px;
    font-size: 20px;
    padding: 10px 40px;
    margin: 0;    
  }
}


// pricing grid styles for personal training and group training

.personal-training, .group-training{
  h3{
    margin: 10px 0 10px 1.5rem;
  }

  .price-box-container{
    width: 80%;
    max-height: 120px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    .single-price-box{
      width: 100%;
      text-align: center;

      p {
        padding: 0;
        margin: 0;
      }

      span{
        font-weight: 900;
        font-size: 20px;
        
        &:first-child {
          font-size: 10px;
        }

        &:last-child {
          font-family: $font__h1-header;
        }
      }
    }

    .span-block {
      display: block;
      margin: 0;
    }
  }

  .price-box-border{
    border-left: 2px white solid;
    border-right: 2px white solid;    
  }
}

.training-rates{
  font-size: 14px;
  text-transform: none;
  margin-left: 1.5rem;
}


// carousel cell #1 - personal training

.personal-training{
  background-image: url(../../asset/images/servicespage_personaltraining.png);
}

// carousel cell #2 - group training


.group-training{
  background-image: url(../../asset/images/servicespage_grouptraining.png);
}


// carousel cell #3 - community projects

.community-projects{
  background-image: url(../../asset/images/servicespage_communityproject.png);
  
  .red-button, .social-button{
    margin: 0;
    margin-left: 40px;
    width: 60%;
    padding: 0;

    a{
      display: block;
      padding: 0;
      text-align: center;
      color: white;
      font-weight: lighter;
    }
  }

  .social-button{
    margin-top: 10px;
    height: 38px;   
  }
}
