.main-carousel{
  height: 90vh;
  color: white;  
}

.carousel-cell {
  display: block; 
  height: 100vh; 
  width: 100%;
  background-size: cover;
  text-transform: uppercase;

  :not(.carousel-cell-info){
    padding-left: 20px;
  }

  h2{
    height: 116px;
    width: 49.69%;
    font-weight: bold;
    line-height: 85px;
    margin: 60px 0 55px 0;
    font-size: 55px;
  }

  .carousel-cell-info{
    width: 100%;
    background-color: darkgray;
    height: 260px;
    line-height: 27px;
    padding: 0 20px 0 20px;
  }
}


// carousel cell #1 - personal training


.personal-training{
  background-image: url(../../asset/images/serv1.jpg);

  h3{
    // font-size: 40px;
  }
}