.site-footer{
  background-color: $color__brand-red;
  height: auto;
  width: 100%;
  bottom: 0;
  padding: 1.5rem;

  a, p{
    color: $color__brand-white;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;    
  }

  .footer-text-container {
    a {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .footer-social-logo{
    display: flex;
    justify-content: center;

    a {
      font-size: 35px;
      padding: 0 8px;
      
    }
  }

  p {
    font-size: 12px;
  }
}

.footer-text-container {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: center;

    a {
      @include desktop {
        margin: 0 15px;
        padding-bottom: 30px;
      }
    }
  }
}