/* Landing Page */

.landing-page-container {
    width: 100vw;
    
    .landing-project-td, .landing-who-we-are, .landing-what-we-do{
      height: 300px;
      background-size: cover;
    }

    .landing-project-td {
      background-image: url(../../asset/images/serv1.jpg);
    }
    .landing-who-we-are{
      background-image: url(../../asset/images/serv2.jpg);
    }
    .landing-what-we-do {
      background-image: url(../../asset/images/serv3.jpg);
    }
}