/* Landing Page */

.front-page-container {
  color:white;
  width: 100vw;
}

.landing-scroll-section {
  // position:absolute;
}
.project-td-cont, .who-we-are-cont, .what-we-do-cont {
  height:100vh;
  // .front-button-cont{
  //   @include front-red-button;
  // }
}
  .project-td-image-wrapper, .project-td-image-wrapper, .front-img-wrapper {
  
  .project-td-image, .who-we-are-image, .what-we-do-image{
    position:absolute;
    overflow: hidden;
    transform: translate(-35%, 2%);
  }
}
img {
  height:100vh;
  max-width: none;
}
.project-td-image img{
  height: 80vh;
}

.project-td-text, .who-we-are-text, .what-we-do-text {
  position: absolute;
}

.project-td-text{
  margin:1rem;
  h2{
    font-family:$font__main;
    font-size: 1.5rem;
    width:7rem;
    line-height: 2rem;
  }
  .front_heading{
    font-size: 2rem;
  }
}

.who-we-are-text, .what-we-do-text {
  h2{
    font-family: $font__h1-header;
		font-size: 1.95rem;
		font-weight: 500;
    line-height: 2.9rem;
    margin:1rem;
  }
  .front-lorem{
    width: 100%;
    background: rgba(0,0,0,.7);
    padding: 1rem;

  }
}
    .landing-scroll-section{
      height:85px;
      background-color: white;
      p{
        color:$color__brand-red;
        text-transform:uppercase;
        text-align: center;
        font-family:$font__accent;
        font-size: 18px;	
        font-weight: 500;	
        line-height: 24px;
  }
}