.site-header{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;  
  background-color: #A10000;

  .main-navigation{
    text-align: right;
    padding-right: 10px;

    img{
      height: 60px;
    }
  }
}

@media screen and (min-width: 769px) { 
  #toggle {
  display:none;
  }
   
  } 
   
  @media screen and (max-width: 768px) { 
  #popout {
  position: fixed;
  height: 100%;
  width: 250px;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .9);
  color: white;
  top: 0px;
  left: -250px;
  overflow:auto;
  }
   
   
  #toggle {
  float: right;
  position: fixed;
  top: 60px;
  right: 45px;
  width: 28px;
  height: 24px;
   
  }
   
  .nav-menu li { 
  border-bottom:1px solid #eee; 
  padding:20px;
  width:100%;
  }
   
  .nav-menu li:hover { 
  background:#CCC;
  }
   
  .nav-menu li a { 
  color:#FFF;
  text-decoration:none;
  width:100%;
  }
  } 