.site-header{
  height: 60px;
  width: 100%;
  // position: fixed;                  
  top: 0;  
  background-color: $color__brand-red;
  z-index: 99999;

  .main-navigation{
    text-align: right;
    padding-right: 10px;

    img{
      height: 60px;
    }
  }
}

#responsive-menu-button{
  box-shadow: none;
}