.landing-container {
    position:relative;
}

.kin, .ath, .let, .ics {
    font-size: 10rem;
    font-family: $font__main; 
    color: turquoise;
    text-transform:Uppercase;
    position:absolute;
}