/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}

/* Captions */

.wp-caption {
	margin-bottom: $base__space-unit;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075rem 0;
	}
}

.wp-caption-text {
	text-align: center;
}

/* Galleries*/

.gallery {
	margin-bottom: $base__space-unit;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

/* Buttons */ 

.social-button{
	background: $color__brand-white;
	border: solid 2px $color__brand-red;
	height: 2.82%;
	text-align: center;
	width: 54.37%;
	margin: 0 auto;
	margin-bottom: 16px;
		a {
			color: $color__brand-black;
			font-family: Oswald;
			font-size: 1.2rem;
			font-weight: 500;
			line-height: 36px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}
}

.red-button {
	background: $color__brand-red;
	text-transform: uppercase;
	height: 38px;	
	width: 234px;
	border: 2px solid $color__brand-red;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.5);
	color: $color__text-main;
	cursor: pointer;

	a {
		font-size: 24px;	
		font-weight: bold;	
		line-height: 29px;	
		text-align: center;
		text-decoration: none;
	}
}