/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}






//                              RESPONSIVE MENU mobile

#responsive-menu{
	text-align: right;

	.responsive-menu-subarrow{
		display: none!important;
	}
}

#responsive-menu a{
	font-weight: bold;
	text-transform: uppercase;
	border-top: 2px solid $color__brand-red!important;	
	border-bottom: 2px solid $color__brand-red!important;
	margin-top: 20px;
}

#responsive-menu-item-120 a{
	border-top: none!important;
}

#responsive-menu li li a{
	font-size: 20px!important;
	text-transform: capitalize;
	font-weight: normal;
	border: none!important;
	margin-top: 0;
}


//                            DESKTOP MENU

#site-navigation{
	display: none;

	@include Desktop{
		display: block;
	}
}

#site-navigation{
	padding-right: 0;
	height: 100%;

	div{
		height: 100%;
	}

	.menu-menu-container{
		width: 95%;
		margin: 0 auto;
	}

	#menu-menu{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		li{
			margin-right: 30px;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}