/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */



.landing-page-container{
  width:100vw;
.landing1-container{
.landing-td-image{
  background-image: url(https://unsplash.it/g/200/300);
}
// h2
// h1
// .scroll-section
// p
}
.landing2-container{
.who-we-are-image{
  background-image: url(https://unsplash.it/g/200/300);
}
// h1
// p
}
.landing3-container{
.what-we-do-image{
  background-image: url(https://unsplash.it/g/200/300);
}
// h1
// p
}
//                                      SERVICES PAGE
//                                    SERVICES PAGE

.services-taxonomy{
  height: 100vh;
  background-image: url('../asset/images/serv1.jpg');
  background-color: pink;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 

  .circles{
    margin: 0 auto;
  }
}

.carousel-cell{
  height: 100vh;
}

.services-featured{
  height: 100vh;
  background-color: darkgray;
  position: relative;
  text-align: left;
  font-size: 60px;
  text-transform: uppercase;

  .white-social-block{
    position: absolute;
    background-color: pink;
    text-align: center;    
    height: 35%;
    width: 100%;
    bottom: 0;
    font-size: 24px;
  }

  .social{
    @include social-button;
  }
}
}