.post-type-archive-event {

    .entry-content {
        margin: 0;

        .latest-history {
            height: 100vh;
            background: lightblue;
            
            h2 {

            }
        }

        .historical-moments {

            .carousel-cell.trainers {
                .header-container {
                    h2 {
                        padding: 0;
                    }
                }
            }
        }
    }
}