.page-template-services{
  .entry-content{
    margin: 0;
    padding-top: 0.75rem;

    .carousel-cell {

      h2 {
        margin: 1.5rem;
      }

      .service-description {
        background:rgba(0,0,0,0.65);
        padding: 1.5rem;
        text-transform: none;
      }
    }
  }

  h1 {
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    max-width: 80%;
  }
}

.services-icons {
  height: 100vh;
  background: url('../../asset/images/servicespage_heroshot.png') no-repeat center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  }
  
  #origin-icon {
    margin-right: 50px;
  }
  
  .circles-container {
    height: 75%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    justify-content: space-around;

    .icon-container {
      width: 50%;
      height: $icon__base-size;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;

      a, img {
        height: 100%;
        width: auto;

        @include desktop {
          height: auto;
          width: 100%;
        }
      }

      p {
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font__h1-header;
        padding-top: 5px;

        .span-block {
          @include desktop {
            display: block;
          }
        }
      }
    }
  }


.services-featured{
  display: block;
  height: 100vh;
  background-image: url(../../asset/images/servicespage_featuredtrainer.png);
  background-size: cover;
  color: white;
  position: relative;

  .services-content {
    overflow: hidden;
    height: 75%;
    
    &:after {
      height: 75%;
      width: 100%;
      content: " ";
      background: rgba(0,0,0,0.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  } 

  h4{
    margin: 0;
    position: relative;
    text-align: left;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px 30px 10px 20px;
    z-index: 1;

    .span-block {
      display: block;
      text-align: left;
      font-size: 40px;
      text-transform: uppercase;
      

    }
  }

  p {
    font-family: Oswald;
    position: relative;
    z-index: 1;
  }

  .services-button-flex {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    
    @include desktop {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  

  .trainer-name {
    font-weight: lighter;
    font-size: 40px;
    display: block;

  }

  span{
    font-size: 70px;
    font-weight: lighter;
  }

  p{
    text-align: right;
    padding-right: 20px;
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

}

.page-template-services{
  .white {
    position: absolute;
    align-content: center;
    background-color: white;
    color: black;
    width: 100%;
    bottom: 0;
    font-size: 24px;
    padding: 1.5rem;

    p{
      text-align: center;
      padding: 0;
      margin: 0;
      font-family: $font__code;
    }

  }
}

// For Desktop View

@media only screen and (min-width: 600px) {

  .page-template-services h1 {
    font-size: 2.9rem; 
  }

  .circles-container {
    flex-wrap: nowrap;

    .icon-container {
      height: 250px;

      p {
        font-size: 1.5rem;
        padding-top: 15px;  
      }
    }
  }

  .page-template-services h2 {
    text-align: left;
    font-size: 5.5rem;

  }

  .personal-training {

    .price-box-container {
      margin: 0;
      margin-left: 40px;
      max-width: 450px;
      height: 14%;

      span p {
        font-weight: bold;
        }
      }
    }

  .services-featured {

    h4 {
      text-align: right;
      font-size: 5.5rem;
    }

    p {
      font-size: 2.5rem;
      padding-top: 130px;
      font-family: Oswald;
      font-weight: normal;
    }

    .services-button-flex {
      padding-top: 10px;
      flex-wrap: nowrap;
      justify-content: flex-end;
      }

      .red-button {
        max-width: 450px;
        margin: 0;
        margin-left: 30px;
    }
        
  }
  
  .page-template-services .white p {
    font-size: 1.7rem;
    font-weight: lighter;
    font-family: Open Sans Condensed;

  }

  .page-template-services h2 {
    font-size: 5.3rem;
  }
}

// Mobiles with small heights
@media only screen and (max-height: 600px) {

  .entry-content {
    padding-top: 0.9rem;
  }

  .carousel-cell {
    h2 {
      font-size: 35px;
      line-height: normal;
    }
  }

  .header-container {
    margin-top: 1.5rem;

    h1 {
      font-size: 1rem;
    }
  }

  .circles-container {

    .icon-container {
      width: 40%;

      p {
        font-size: 14px;
      }
    }
  }

  .services-featured {

    .services-content {
      h4, span {
        font-size: 35px;
      }

      p {
        font-size: 20px;
      }

      a {
        padding-top: 0;
        font-size: 20px;
        line-height: 30px;
      }

    }
  }
}