/*--------------------------------------------------------------
# Single Event Styles
--------------------------------------------------------------*/

.event-template-default {

    .site-main {
        height: 100vh;
    }

    iframe {
        margin-top: 15px;
        height: 100vh;
    }

}