/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	@include font-size(1);
	line-height: $font__line-height-body;
	font-family: $font__code;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: $font__h1-header;
	clear: both;
	text-transform: uppercase;
	// margin: 0;
}

h1{
	color: $color__brand-white;

}
h2{
	font-size: 	1rem;	
	font-weight: 500;	
	line-height: 1.5rem;
}

/* -------.ENTRY-HEADER STYLES ------- */
.entry-header {

	.entry-title {
		color: $color__brand-white;
		font-family: $font__h1-header;
		font-size: 1.95rem;
		font-weight: 500;
		line-height: 2.9rem;
	}

}

/* Copy */

p {
	font-size:18px;
	margin-bottom: $base__space-unit;
	font-family: $font__main;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}

address {
	margin: 0 0 $base__space-unit;
}

pre {
	background: $color__background-pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	// font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Find Us Page */

.page-template-find-us  {
		text-align: center;
}
	.white-title {
		color: $color__brand-white;
		font-family: oswald;
		font-size: .9rem;
		font-weight: 100;
		line-height: 1.3rem;
		text-align: center
}

	.black-title {
		color: $color__brand-black;
		font-family: Open Sans Condensed;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.35rem;
		text-align: center
}

	.red-button {

		a {
			font-size: 1.2rem;
		}
	}

/*Front Page*/	
.who-we-are-text, .what-we-do-text {
	h2 {
	  	font-family: $font__h1-header;
		font-size: 2.8rem;
		font-weight: 500;
		line-height: 2.9rem;
		margin: 0 2rem;
	}
	.front-lorem {
		width: 100%;
		background: rgba(0,0,0,.7);
		padding: .5rem 2rem;
		margin-top: .3rem;
	}
}