// // Structure

$base__space-unit: 1.5rem;
$base__width-mobile: 400px;
$base__content-width-mobile: 370px;

$base__content-width-desktop: 1000px;
$base__width-desktop: 1120px;


// // Colors
$color__text-main: #FFFFFF;
$color__h1-black: #000000;

$color__brand-red: #A10000;
$color__hover-buttons: #850000;
$color__brand-black: #000000;
$color__brand-white: #FFFFFF;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-body: #ffffff;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #FFFFFF;
$color__link-visited: #FFFFFF;
$color__link-hover: #FFFFFF;

// Typography

$font__main: 'Open Sans Condensed', sans-serif;
$font__code: 'Open Sans Condensed', 'Oswald', sans-serif;
$font__accent: 'Oswald', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__h1-header: 'Oswald',;

$font__body-size: 20px;
$font__header-size: 58px;

// Headers
$header__height-full: 100vh;
$header__title-border-bottom: 5px solid white;

// Content
$content__base-margin: 1.5rem;
