body .page-template-video-page {
    margin:0;
}
.page-template-video-page {
    .site-header {
        display: none;
    }
    .site-content {
     overflow:hidden;
     height:auto;
    }
}
.video-container {
    height: 100vh;
    position: relative;
    @media only screen and (max-width: 600px) {
        background: url(../../asset/video/kin-vid-screenshot.png);
        position:relative;
        height:100vh;
    }
}

.video {
    width: 100%;  
    display: flex;  
    align-items: center;
    overflow: hidden;
}
.video-width {
    width:100%;
    @media only screen and (max-width: 600px) {
        display:none;
    }
}
.landing-video-text-container {
  z-index: 999;
  padding-top:3rem;
  width:100vw;
  height:100vh;
  @media only screen and (min-width: 600px) {
  position:absolute;
  top: 10%;
  }
}
.athletics-line-break {
    @media only screen and (min-width: 600px) {
    display:flex;
    justify-content:center;
    padding-top:4.9rem;
    }
}
  .kin, .ath, .let, .ics {
    font-size: 7.5rem;
    font-family: $font__accent; 
    background-color: transparent;
    color: white;
    text-transform:Uppercase;
    line-height: 101.5px;
    margin:0;
    letter-spacing: 5px;

    @media only screen and (min-width: 600px) {
    font-size: 12.5rem;
    letter-spacing: 10px;
    line-height: 90px;
    }
  }  

.landing-video-text-container {
    .kin {
        margin-left: 0;
        @media only screen and (min-width: 600px) {
        // margin-left: 35%;
        
        text-align: center;
        justify-content: flex-start;
        top:0;
        }
    }
    .ath {
        margin-left: 12%;
        @media only screen and (min-width: 600px) {
            margin-left: 0;
        }
    }
    .let {
        margin-left: 35%;
        @media only screen and (min-width: 600px) {
            margin-left: 0;
        }
    }
    .ics {
        margin-left: 58%;
        @media only screen and (min-width: 600px) {
            margin-left: 0;
        }
    }
}
.video-button-cont {
    @include front-red-button;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 33%;
    bottom:30px;
    z-index:999;
    @media only screen and (min-width: 600px) {
        justify-content: center;
        bottom:70px;
        margin-left: 40%;
        z-index:999;
    }
}